services:
  bot:
    build:
      context: .
      dockerfile: ./Dockerfile
    develop:
      watch:
        # Sync the working directory with the `/app` directory in the container
        - action: sync
          path: .
          target: /usr/src/app
        - action: rebuild
          path: ./pyproject.toml
    image: bot:latest
    container_name: ${COMPOSE_PROJECT_NAME}-bot
    restart: always
    env_file:
      - .env
    ports:
      - ${WEBHOOK_PORT}:${WEBHOOK_PORT}
    networks:
      - app
      - monitoring
    depends_on:
      pgbouncer:
        condition: service_healthy
      redis:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully

  admin:
    build:
      context: .
      dockerfile: ./admin/Dockerfile
    container_name: ${COMPOSE_PROJECT_NAME}-admin
    restart: always
    env_file:
      - .env
    ports:
      - ${ADMIN_PORT}:${ADMIN_PORT}
    networks:
      - app
    depends_on:
      - bot
    volumes:
      - ./admin:/usr/src/app/admin

  postgres:
    image: postgres:14-alpine
    container_name: ${COMPOSE_PROJECT_NAME}-postgres
    restart: always
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
      - PGDATA='/var/lib/postgresql/data/pgdata'
    networks:
      - app
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 20s


  pgbouncer:
    image: edoburu/pgbouncer
    container_name: ${COMPOSE_PROJECT_NAME}-pgbouncer
    restart: always
    env_file:
      - .env
    environment:
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASS}
      - DB_HOST=postgres
      - POOL_MODE=session
      - MAX_DB_CONNECTIONS=0
      - DEFAULT_POOL_SIZE=40
      - ADMIN_USERS=postgres,${DB_USER}
      - AUTH_TYPE=scram-sha-256
    ports:
      - ${DB_PORT}:${DB_PORT}
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - app
    healthcheck:
      test: ["CMD-SHELL", "PGPASSWORD=${DB_PASS} psql -h localhost -p ${DB_PORT} -U ${DB_USER} -d ${DB_NAME} -c 'SELECT 1;' || exit 1"]
      interval: 15s
      timeout: 5s
      retries: 3
      start_period: 20s



  pgbackup:
    container_name: ${COMPOSE_PROJECT_NAME}-pgbackup
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - backups-data:/backups
    networks:
      - app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=postgres
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
      - SCHEDULE=@every 0h30m00s
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=81
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:81 || exit 1"]
      interval: 60s
      timeout: 10s
      retries: 3



  redis:
    image: redis:7-alpine
    container_name: ${COMPOSE_PROJECT_NAME}-redis
    restart: always
    env_file:
      - .env
    ports:
      - ${REDIS_PORT}:${REDIS_PORT}
    networks:
      - app
    volumes:
      - redis-data:/bitnami/redis/data
    command: /bin/sh -c 'if [ -n "$REDIS_PASS" ]; then redis-server --requirepass "$REDIS_PASS"; else redis-server; fi'
    healthcheck:
      test: ["CMD-SHELL", "if [ -n \"$REDIS_PASS\" ]; then redis-cli -a \"$REDIS_PASS\" ping; else redis-cli ping; fi"]
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 30s


  migrator:
    image: bot:latest
    container_name: ${COMPOSE_PROJECT_NAME}-migrator
    restart: "on-failure"
    command: alembic upgrade head
    env_file:
      - .env
    networks:
      - app
    depends_on:
      pgbouncer:
        condition: service_healthy
    volumes:
      - ./migrations:/usr/src/app/migrations
    healthcheck:
      disable: true


  # MONITORING
  node-exporter:
    image: prom/node-exporter:latest
    container_name: ${COMPOSE_PROJECT_NAME}-node-exporter
    restart: unless-stopped
    ports:
      - 9100:9100
    networks:
      - monitoring
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--collector.filesystem.mount-points-exclude"
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:9100/metrics || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 3

  prometheus:
    image: prom/prometheus:v2.43.0
    container_name: ${COMPOSE_PROJECT_NAME}-prometheus
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - ${PROMETHEUS_PORT}:${PROMETHEUS_PORT}
    depends_on:
      node-exporter:
        condition: 
          service_healthy
      bot:
        condition: 
          service_started

    networks:
      - monitoring
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:$${PROMETHEUS_PORT}/-/healthy || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3


  grafana:
    image: grafana/grafana:8.5.22
    container_name: ${COMPOSE_PROJECT_NAME}-grafana
    restart: always
    env_file:
      - .env
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_INSTALL_PLUGINS=grafana-clock-panel
    ports:
      - ${GRAFANA_PORT}:${GRAFANA_PORT}
    depends_on:
      prometheus:
        condition: 
          service_healthy
    networks:
      - monitoring
    volumes:
      - ./configs/grafana/datasources:/etc/grafana/provisioning/datasources
      - ./configs/grafana/dashboards:/etc/grafana/provisioning/dashboards
      - ./configs/grafana/node-exporter.json:/var/lib/grafana/dashboards/node-exporter.json
      - grafana-data:/var/lib/grafana
    user: "0"
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:$${GRAFANA_PORT}/api/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s


networks:
  app:
    driver: bridge
  monitoring:
    driver: bridge

volumes:
  backups-data: {}
  postgres-data: {}
  redis-data: {}
  prometheus-data: {}
  grafana-data: {}
